html{
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

.header{
  height: 30px;
  background-color: rgba(128, 128, 128, 0.486);
  padding: 15px;
  display: flex;
}

body{
  min-width: 1150px;
}

.log_in{
  margin-left: auto;
  
}

.header > select{
  margin-left: 20px;
  cursor: pointer;
  height: 35px;
  border-radius: 5px;
  padding: 5px;
}

.header > select:hover{
  background-color: rgba(128, 128, 128, 0.664);
  color: white;
}

#home {
  cursor: pointer;
}

.path{
  display: flex;
  height: 20px;
  padding: 10px;
  opacity: 0.9;
  
}

.path > .root_path {
  margin-left: 15px;
  text-align: center;
  font-size: 17px;
  position: relative;
  top: 3px;
  cursor: pointer;
}

#goal_path {
  margin-left: 10px;
  text-align: center;
  font-size: 17px;
  position: relative;
  top : 3px;
  cursor: pointer;
}

.main_title{
  display: flex;
  opacity: 0.9;
  flex-direction: column;
}

.large_title{
  display: flex;
  justify-content: center;
  padding: 10px;
  height: 40px;
}

.large_title > div{
  padding: 8px 5px 0 5px;
  font-size: 25px;
}

.large_title svg{
  width: 5%;
}

.small_title{
  padding: 5px;
  text-align: center;
  font-size: 15px;
}

.input_output_form{
  
  display: flex;
  padding: 10px;
  /* background-color: red; */
  justify-content: space-around;
}

.input_form{
  background-color: #3d99f5c7;
  padding: 10px;
  display: flex;
  align-content: center;
  flex-direction: column;
  height: 500px;
}

.output_form{
  width: 700px;
  background-color: #3d99f5;
  padding: 10px;
  display: flex;
}

.output_form_1{
  width: 100%;
  background-color: white;
  border-style: solid;
  border-radius: 8px;
  border-color: #3d99f5;
  padding: 5px;
}

.output_form_1 > .title{
  text-align: center;
  font-weight: 20;
  margin: 5px;
}

#error {
  text-align: center;
  font-weight: 20;
  margin: 5px;
  color: red;
}

.info_detail{
  display: flex;
  /* height: 45vh; */
  width: auto;
  background-color: white;
  padding: 5px 5px 5px 40px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  flex-direction: column;
}

.row{
  display: flex;
  position: relative;
  margin: 15px;
  padding: 5px;
  align-items: center;
}

.row >label{
  font-weight: 500;
}

.vls{
  background-color: #e5e5e5;
  height: 30px;
  width: 350px;
  position: absolute;
  right: 40px;
  border-style: solid;
  border-radius: 10px;
  border-color: white;
  vertical-align: middle;
  padding-top: 7px;
  padding-left: 10px;
}

.address .vls{
  height: 40px;
}

.faculty .vls, .major .vls {
  height: 40px;
}

.menu{
  background-color: rgba(135, 177, 241, 0.897);
  width: 178px;
  display: none;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.label_menu{
  display: flex;
  padding: 1px;
}

.label_menu  ul  {
  list-style-type: none;
}

.label_menu  ul li:hover{
  color: white;
  font-weight: 500;

}

.label_menu  ul li a {
  text-decoration: none;
}

.label_menu > svg {
  width: 50%;
}

.label_menu > svg{
  width: 15%;
}

.label_menu  ul li a:visited{
  color: white;
}

.label_menu:hover,.label_menu > label:hover {
  cursor: pointer;  
  
}

.label_menu:hover  .menu{
  position: absolute;
  display: block;
  padding: 10px 0 5px 10px;
  left: 0px;
  top: 29px;
}

.label_menu >label{
  width: 155px;
  margin-left: 10px;
  margin-right: 0px;
}

.label_menu > .v{
  width: 9%;
  margin: 3px;
}

.type_card {
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 180px;
  padding: 4px;
  height: 25px;
  margin-left: 15px;
  background-color: white;
  position: relative;
}

/* Tắt chú thích file cho nút button */
input[type="file"] {
  display: none;
}

.custom-file-upload{
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  BACKGROUND-COLOR: #e9efe8;
  color: #524a4a;
  border-radius: 5px;
  width: 250px;
}

.custom-file-upload:hover{
  background-color: rgba(87, 238, 87, 0.74);
  color: white;
}


.drop-zone__prompt > svg {
  color: white;
  height: 100px;
  width: 100px;
}

.start{
  background: transparent linear-gradient(180deg, #009981 0%, #00483d 90%) ;
  box-shadow: 0 4px 6px #00000029;
  border-radius: 8px;
  color: #fff;
  font-weight: bold;
  padding: 15px 60px;
  margin-top: 15px;
  cursor: pointer;
  z-index: 1;
}

/* Drop image area */
.drop-zone {
height: 55vh;
width: 500px;
padding: 5px;
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
font-family: "Quicksand", sans-serif;
font-weight: 500;
font-size: 20px;
cursor: pointer;
color: #cccccc;
border: 4px dashed #009578;
border-radius: 10px;
}

.drop-zone--over {
border-style: solid;
}

.drop-zone__input {
display: none;
}

.drop-zone__thumb {
height: 400px;
width: 500px;
border-radius: 10px;
overflow: hidden;
background-color: #cccccc;
background-size: cover;
position: relative;
}

.drop-zone__thumb::after {
content: attr(data-label);
position: absolute;
bottom: 0;
left: 0;
width: 100%;
padding: 5px 0;
color: #ffffff;
background: rgba(0, 0, 0, 0.75);
font-size: 14px;
text-align: center;
}

.drop-zone__prompt{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drop-zone__prompt > .or{
  margin-top: 10px;
}