{% extends 'base.html' %}

{% load static %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static '/public/css/style.css' %}">
{% endblock %}


{% block content1 %}
<div>Trích xuất thông tin từ căn cước công dân</div>
{% endblock content1 %}

{% block content2 %}
<div class="small_title">
    Trích xuất thông tin chi tiết từ ảnh giấy tờ cá nhân
</div>
{% endblock content2 %}

{% block content %}
<div class="output_form">
    <div class="output_form_1">
        <h2 class="title">Thông tin trên căn cước công dân</h2>
        <div class="info_detail">
            <div class="row id">
                <label>Số</label>
                <input class="vls" value="{{ result.id_card_number }}" readonly/>
            </div>
            <div class="row name">
                <label>Họ và tên</label>
                <input class="vls" value="{{ result.name }}" readonly/>
            </div>
            <div class="row date">
                <label>Sinh ngày</label>
                <input class="vls" value="{{ result.dob }}" readonly/>
            </div>
            <div class="row sex">
                <label>Giới tính</label>
                <input class="vls" value="{{ result.sex }}" readonly/>
            </div>
            <div class="row nationality">
                <label>Quốc tịch</label>
                <input class="vls" value="{{ result.nationality }}" readonly/>
            </div>
            <div class="row address ">
                <label>Nguyên quán</label>
                <input class="vls" value="{{ result.hometown }}" readonly/>
            </div>
            <div class="row address">
                <label>Nơi thường trú</label>
                <input class="vls" value="{{ result.address }}" readonly/>
            </div>
            <div class="row expires">
                <label>Có giá trị đến</label>
                <input class="vls" value="{{ result.expires }}" readonly/>
            </div>
        </div>
    </div>
</div>
{% endblock content %}