{% extends 'base.html' %}

{% block content1 %}
<div>Trích xuất thông tin từ giấy phép lái xe</div>
{% endblock %}

{% block content2 %}
<div class="small_title">
    Trích xuất thông tin chi tiết từ ảnh giấy tờ cá nhân
</div>
{% endblock %}

{% block content %}
<div class="output_form">
    <div class="output_form_1">
        <h2 class="title">Thông tin trên Giấy phép lái xe</h2>
        <div class="info_detail">
            <div class="row id">
                <label>Số:</label>
                <div class="vls"></div>
            </div>
            <div class="row name">
                <label>Họ và tên:</label>
                <div class="vls"></div>
            </div>
            <div class="row date">
                <label>Sinh ngày:</label>
                <div class="vls"></div>
            </div>
            <div class="row root">
                <label>Quốc tịch:</label>
                <div class="vls"></div>
            </div>
            <div class="row address">
                <label>Nơi ĐKHK thường trú:</label>
                <div class="vls"></div>
            </div>
            <div class="row type">
                <label>Hạng:</label>
                <div class="vls"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}